.bg-dark-blue{
    /* background: #002d68 !important; */
    background: #0f2746 !important;
     
}
.bg-light-blue{
    background: #2bb5fe !important;
}
.bg-purple{
    background: #994ae3 !important;
}
.b-bottom-2{
    border-bottom: 2px solid #fff;
}
.color-orange{
    color: #fa2600 !important;
}