.bg-dark-blue{
    background: #0f2746 !important;     
}
.bg-dark-blue-2{
    background: #182129 !important;     
}
.bg-light-blue{
    background: #2bb5fe !important;
}
.bg-purple{
    background: #994ae3 !important;
}
.bg-black{
    background: #000 !important;
}
.b-bottom-2{
    border-bottom: 2px solid #fff;
}
.color-orange{
    color: #fa2600 !important;
}
.max-height-14 {
    max-height: 14em;
}
.max-height-9 {
    max-height: 9em;
}
.min-height-14{
    min-height: 14em;   
}
.min-height-9{
    min-height: 9em;   
}
.logo-principal{
    width: 8em !important;
    min-width: 7rem;
}
.bgimg-1 {
    background-image: url(filsavirtual.jpg);
    height: 100%;
}

.overflow-scroll-y{
    height: auto;
    width: 200px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;    
}

@media (min-width: 1000px) {
    .dropdown-with-columns {
        column-count: 4;
    }
}

@media (max-width: 999px) and (min-width: 700px) {
    .dropdown-with-columns {
        column-count: 2;
    }
}

@media (max-width: 699px) { 
    .dropdown-with-columns {
        column-count: 1;
    }
}

