.bg-dark-blue{
    background: #0f2746 !important;     
}
.bg-dark-blue-2{
    background: #182129 !important;     
}
.bg-light-blue{
    background: #2bb5fe !important;
}
.bg-purple{
    background: #994ae3 !important;
}
.bg-black{
    background: #000 !important;
}
.b-bottom-2{
    border-bottom: 2px solid #fff;
}
.color-orange{
    color: #fa2600 !important;
}
.max-height-17{
    max-height: 17em;   
}
.min-height-14{
    max-height: 14em;   
}
.logo-principal{
    width: 8em !important;
    min-width: 7rem;
}